{% extends 'base.html.twig' %}

{% block body %}

<section id="about" class="about">
		<div class="container">
			<h2 class="quisommesnous">Inscription</h2>
			<br>
			<div class="row no-gutters">
				<div class="col-lg-12" data-aos="fade-up" data-aos-delay="300">
					{{ form_start(registrationForm,{'attr': {'class': 'php-email-form'}}) }}
					<div class="form-row">
						
						<div class="col-lg-6 form-group">
							{{form_label(registrationForm.email, 'EMAIL', {'label_attr': {'class': 'formulaire'}})}}
							{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
						</div>
						<div class="col-lg-6 form-group">
							{{form_label(registrationForm.plainPassword, 'PASSWORD', {'label_attr': {'class': 'formulaire'}})}}
							{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
						</div>

						<div class="col-lg-6 form-group">
							{{form_label(registrationForm.nom, 'NOM', {'label_attr': {'class': 'formulaire'}})}}
							{{ form_widget(registrationForm.nom, {'attr': {'class': 'form-control'}}) }}
						</div>
						<div class="col-lg-6 form-group">
							{{form_label(registrationForm.prenom, 'PRENOM', {'label_attr': {'class': 'formulaire'}})}}
							{{ form_widget(registrationForm.prenom, {'attr': {'class': 'form-control'}}) }}
						</div>

						<div class="col-lg-6 form-group">
							{{form_label(registrationForm.adresse, 'ADRESSE	', {'label_attr': {'class': 'formulaire'}})}}
							{{ form_widget(registrationForm.adresse, {'attr': {'class': 'form-control'}}) }}
						</div>
						<div class="col-lg-6 form-group">
							{{form_label(registrationForm.ville, 'VILLE', {'label_attr': {'class': 'formulaire'}})}}
							{{ form_widget(registrationForm.ville, {'attr': {'class': 'form-control'}}) }}
						</div>

						<div class="col-lg-6 form-group">
							{{form_label(registrationForm.telephone, 'TELEPHONE', {'label_attr': {'class': 'formulaire'}})}}
							{{ form_widget(registrationForm.telephone, {'attr': {'class': 'form-control'}}) }}
						</div>
						<div class="col-lg-6 form-group">
							{{form_label(registrationForm.photo, 'PHOTO', {'label_attr': {'class': 'formulaire'}})}}
							{{ form_widget(registrationForm.photo, {'attr': {'class': 'form-control'}}) }}
						</div>

						<div class="text-center">

							<button type="submit" id="button" class="btn btn-valide">Envoyer</button>
						</div>
						<br>
					</div>
				
					{{ form_end(registrationForm) }}
					<br>
				</div>
			</div>
		</div>
	</section>

    {% endblock %}